.section_title {
	/*height: 100%;*/
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 1000;
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	vertical-align: middle;
	padding-top: 25%;
}

.item {
	position: relative;
	background-color: #777;
	/*background: url('../resources/arch_splash.png');*/
	background-size: cover;
	background-repeat: no-repeat;
	/*outline: 3px solid #777;*/
	height: 300px;
	background-clip: content-box;
	padding: 10px;
}